header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav li {
    margin: 0 1rem;
}

a.active {
    background: black;
    color: white;
}